/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Estilos de cada producto (card) */
li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

strong {
  font-size: 1.1em;
}

a, button {
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}

a:hover, button:hover {
  color: #0056b3;
}

form {
  display: inline;
}

button {
  color: red;
}

button[type="submit"] {
  background-color: transparent;
  border: none;
  color: #d9534f;
  cursor: pointer;
}

button[type="submit"]:hover {
  color: #c9302c;
}
